body {
  /* background: grey; */
/*   padding-top: 2rem; */
}
#mainNav {
  position: sticky;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.text-right{
  padding-top:5rem;
}
.text-right a{
  padding: 10px;
}
p.divided{
  position: relative;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 5px;
  align-items: center;
  text-align: right;
  
}
/* p.divided::before{ */
p.divided::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}